:root {
    /* COLOR PALETTE */
    --color-bright1: white;
    --color-dark1: #272B30;
    --color-ok: #699a46;
    --color-abort: #c66262;
    --color-inactive: #8c8c8c;
    --color-new: #794aa9;
    
    --color-bg-content: var(--color-bright1);
    --color-bg-sidebar: var(--color-dark1);
    --color-header: var(--color-dark1);
    --color-buttons-items: var(--color-bright1);
    --color-buttons-header: var(--color-buttons-items);
    --color-scroll-bg: var(--color-bg-sidebar);
    --color-scroll-bar: var(--color-bg-content);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#everything {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "s c c c";
    height: inherit;
    width: inherit;
}

.maincolumns {
    max-height: 100%;
    max-width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

#sidebar {
    grid-area: s;
    background-color: var(--color-bg-sidebar);
}

#content {
    grid-area: c;
    background-color: var(--color-bg-content);
    overflow-y: scroll;
    padding: 1.3em;
    max-height: calc( 100% - 5.2em);
}

details {
    margin-top: 1em;
}

#pidbuttons {
    background-color: var(--color-header);
    padding: 10px;
    display: flex;
    justify-content: center;
}

#pidbuttons button {
    font-size: larger;
}

.fdo-button {
    background-color: var(--color-buttons-items);
    width: calc(100% - 0.8em);
}

.piditem {
    display: flex;
    margin: 0.4em;
    margin-left: 1.3em;
}

.fdo-remove-button {
    background-color: var(--color-buttons-items);
    font-size: small;
}

p {
    margin: 0.5em;
}

#content button {
    display: block;
}

.ok-button {
    font-size: larger;
    background-color: var(--color-ok);
    border-color: var(--color-ok);
    color: white;
    padding: 0.3em;
}

.edit-button {
    font-size: larger;
    background-color: var(--color-abort);
    border-color: var(--color-abort);
    color: white;
    padding: 0.3em;
}

.inactive-button {
    font-size: larger;
    background-color: var(--color-inactive);
    border-color: var(--color-inactive);
    color: white;
    padding: 0.3em;
}

.update-button {
    font-size: larger;
    background-color: var(--color-ok);
    border-color: var(--color-ok);
    color: white;
    padding: 0.3em;
}

.publish-button {
    font-size: larger;
    background-color: var(--color-new);
    border-color: var(--color-new);
    color: white;
    padding: 0.3em;
}

.column-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
    margin-bottom: 1em;
}

.column-form > * {
    margin-left: 1em;
    margin-right: 1em;
}

.scroll-vertical {
    overflow-y: scroll;
    scrollbar-color: var(--color-scroll-bar) var(--color-scroll-bg);
}

.align-right {
    text-align: right;
}

.two-column-lefty {
    display: grid;
    grid-template-columns: auto auto;
}

.two-column-lefty * {
    align-self: center;
}

.two-column-lefty > * {
    margin-right: 1em;
    margin-left: 1em;
}

.stacking {
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    margin-bottom: 1em;
}

.image-placeholder {
    display: block;
    text-align: center;
    background-color: gray;
    border: medium solid black;
}